*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#searchbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid rgb(131, 131, 131);
    width: 100%;
    border-radius: 0.3rem;
    background-color: white;
}
#searchbutton button{
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    border: none;
}
#search{
    padding: 0.4rem 0.5rem;
    border: none;
    background-color: white;
}
.smallheadertop{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 7rem;
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}
#iconsdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#menubutton{
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
}
.headerleft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    
}
#profile{
    width: 2rem;
    border-radius: 50%;
}
.headerright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-right: 2rem;
   
}
#logo{
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
#icons{
    width: 3rem; 
    
}
#fonts{
    color: white;
}
.iconss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color:transparent;
    border: none;
}
.smallheaderbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.bigheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.smallheader{
    background-color: rgb(175, 142, 233);
    width: 100%;
    padding-bottom: 1rem;
}
#icon5{
    display: none;
}
#icon6{
    display: none;
}
#icon7{
    display: none;
}
#icon8{
    display: none;
}
#personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainprofile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}
#crown{
    width: 1rem;
}
#createbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(137, 52, 206);
    border: none;
    border-radius: 0.2rem;
}
#createbutton2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(241, 241, 241);
}
#createbutton3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(215, 214, 214);
}
#mainsbutton{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}
#createbutton4{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 0.2rem;
    background-color: transparent;
    color: rgb(102, 155, 235);
}
#magic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}
#stars{
    width: 1.5rem;
}
#new{
    background-color: rgb(137, 52, 206);
    color: white;
    border-radius: 0.3rem;
    border: none;
    pad: 0.1rem 0.3rem;
    width: 3rem;
}
#left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
#leftbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    background-color: transparent;
    border: none;
}
#leftbutton1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    background-color: transparent;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 0.1px solid rgb(211, 211, 211);
}
.mainleft{
    display: none;
}
#searchheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}
#customs{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#searchh{
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    background-color: transparent;
}
.searchcentre{
    display: flex;
    
    justify-content: center;
    align-items:center;
    background-color: rgb(152, 96, 248);
    margin-left: 2rem;
    margin-right: rem;
    border-radius: 0.5rem;
    display: none;
    width: 93%;
    padding-right: 2rem;
}
#searchs{
    padding: 0.4rem 0.5rem;
    border: none;
    width: 40rem;
    background-color: white;
}

#searchbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
#searchicon{
    border: none;
    background-color: white;

}
#searchbuttonicons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.mainmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:self-start;
    margin-right: 1rem;
}
.maincentre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}
#customname{
    display: none;
}
.maincentre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.createposter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: center;
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  #images{
    width: 50%;
  }
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {
    /* Your styles for small screens go here */
    #logo{
        display: none;
    }
    .headerright{
        display: none;
    }
    #icon5{
        display: flex;
    }
    #icon6{
        display: flex;
    }
    #icon7{
        display: none;
    }
    #icon8{
        display: none;
    }
    
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    #logo{
        display: none;
    }
    .headerright{
        display: none;
    }
    header{
        background-color: transparent;
    }
    #icon7{
        display: flex;
    }
    #icon8{
        display: flex;
    }
    #logo{
        display: flex;
    }
    .headerright{
        display: flex;
    }
    #searchbutton{
        display: none;
    }
    .smallheaderbottom{
        display: none;
    }
    .smallheader{
        display: none;
    }
    .bigheader{
        display: flex;
    }
    .searchcentre{
        display: block;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
  
    .mainleft{
        display: block;
    }
    .searchcentre{
        display: block;
    }
    #customname{
        display: flex;
    }
    #customicon{
        display: none;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}